@import 'tailwindcss';
@plugin 'daisyui' {
  themes:
    light --default,
    dark;
}

@theme {
  --font-logo: 'Fraunces', ui-serif, Georgia, serif;
}

[data-theme='dark'] {
  --color-base-content: #d2d6d7;
}

.select {
  anchor-name: --context-select;
}

.select select::picker(select) {
  position-anchor: --context-select;
  left: anchor(left);
  width: anchor-size(width);
}
